{{ define "main" }}
<div class="container">
  <h1>{{ .Title }}</h1>
  
  {{/* 設定に関わらず、強制的にFuseのボックスを出す */}}
  <input type="search" id="fuse-search-input" placeholder="Search for articles..." class="search-input" data-base-url="{{ "/" | relLangURL }}">
  <div id="fuse-search-results" class="search-results"></div>

  {{ $fuseLib := resources.Get "vendor/fuse.min.js" | fingerprint }}
  <script src="{{ $fuseLib.RelPermalink }}" defer></script>
  
  {{ $fuseJS := resources.Get "js/search-fuse.js" | resources.Minify | fingerprint }}
  <script src="{{ $fuseJS.RelPermalink }}" defer></script>
</div>
{{ end }}